<% include('../layouts/header.ejs') %>

<img src="userImages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>">

<form action="" method="POST" enctype="multipart/form-data">

    <input type="file" name="image">
    <input type="hidden" name="user_id" value="<%= user._id %>">
    <br><br>
   <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
   <br><br>
   <input type="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
   <br><br>
   <input type="text" name="mno" value="<%= user.mobile %>" placeholder="Enter Mobile" required>
<br>
    <input type="submit" value="Update Profile">

</form>

<% include('../layouts/footer.ejs') %>